{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/extensions": [1, "always"]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.base.config.js"
      }
    }
  }
}
