{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/extensions": [1, "always", { "js": "never" }],
    "react/prefer-stateless-function": [1, {"ignorePureComponents": true}],
    "max-len": [1, 120]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.base.config.js"
      }
    }
  }
}
