{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "import/extensions": [1, "always", { "js": "never" }],
    "react/prefer-stateless-function": [1, {"ignorePureComponents": true}],
    "max-len": [1, 120],
    "arrow-body-style": 0,
    "no-else-return": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "extensions": [".js"],
            "modules": ["./app"]
          }
        }
      }
    }
  }
}
